schema/cr_baudi.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.baumann-digital.de/ns/criticalReport" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="criticalReport">
      <attribute name="work">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <element name="remark">
          <optional>
            <attribute name="type">
              <data type="NCName"/>
            </attribute>
          </optional>
          <attribute name="xml:id">
            <data type="ID"/>
          </attribute>
          <element name="item">
            <attribute name="category">
              <data type="NCName"/>
            </attribute>
          </element>
          <element name="mdiv">
              <data type="integer"/>
          </element>
          <element name="measureStart">
            <data type="integer"/>
          </element>
          <element name="countTimeStart">
            <optional><data type="integer"/></optional>
          </element>
          <element name="measureEnd">
            <optional><data type="integer"/></optional>
          </element>
          <element name="countTimeEnd">
            <optional><data type="integer"/></optional>
          </element>
          <element name="layer">
            <optional>
              <attribute name="alto">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="altoI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="altoII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="altoSolo">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="baritoneSolo">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="bass">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="bassI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="bassII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="bassInstr">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="bassSolo">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="cello">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="corno">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="cornoI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="cornoII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="cornoIII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="cornoIV">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="flute">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="fluteI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="fluteII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="harmonium">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="harpa">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="mezzoSolo">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="oboe">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="oboeI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="oboeII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="organ">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="pedal">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="pianoLeft">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="pianoRight">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="piccolo">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="soprano">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="sopranoI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="sopranoII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="sopranoSolo">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tenore">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tenoreI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tenoreII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tenoreSolo">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="timpani">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="trombone">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tromboneI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tromboneII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tromboneIII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="trumbone">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="trumeptI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="trumpet">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="trumpetI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="trumpetII">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="tuba">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="viola">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="violin">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="violinI">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="violinII">
                <data type="boolean"/>
              </attribute>
            </optional>
          </element>
          <element name="voice">
            <optional>
              <attribute name="middle">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="sub">
                <data type="boolean"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="upper">
                <data type="boolean"/>
              </attribute>
            </optional>
          </element>
          <oneOrMore><element name="note">
            <optional>
              <attribute name="type">
                <value>intern</value>
              </attribute>
            </optional>
            <text/>
          </element></oneOrMore>
          <element name="sources">
            <optional>
              <attribute name="sourceI">
                <data type="boolean"/>
              </attribute>
              </optional><optional>
              <attribute name="sourceII">
                <data type="boolean"/>
              </attribute>
                </optional><optional>
              <attribute name="sourceIII">
                <data type="boolean"/>
              </attribute>
            </optional>
          </element>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
